<br><br> <br>
      <div layout="row" id="dashboard"  layout-xs="column" layout-wrap md-theme="default {{dark-blue}}">
        <div flex-gt-md="33" flex-sm='100' ng-repeat="x in values=(jsonRecord| selectedString:arrManufacturer
    :arrStorage:arrOs:arrCamera)">
          <md-card>
            <md-card-header>
              <md-card-avatar>
                <img class="md-user-avatar" src="{{x.image.small }}">
              </md-card-avatar>
              <md-card-header-text>
                <span class="md-title"><b>{{ x.name}}</b></span>
              </md-card-header-text>
            </md-card-header>
            <img ng-src="{{x.image.small}}" class="md-card-image" alt="image caption">

            <md-card-title>
              <md-card-title-text>
                <span>Manufacturer : {{ x.specs.manufacturer}}</span>
                <span>Storage:  {{ x.specs.storage }}Gb</span>
                <span>OS:  {{x.specs.os}}</span>
                <span>Camera : {{ x.specs.camera }}Mp</span>
                <span>Price: $ {{x.price}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="center center">
              <!-- <md-button class="md-raised md-primary"  ng-click='showDialog($event,x)'>Buy Now</md-button> -->
              <md-button class="md-raised md-primary" ng-click='showDialog($event,x)'>View</md-button>

            </md-card-actions>
          </md-card>
        </div>
      </div>
