<div layout="column" layout-align="center center">
  <center>
    <md-card style="border;border-color:black;width:350px">
      <md-toolbar>
        <h2>Login</h2>
      </md-toolbar>
      <form name="userForm">
        <md-input-container>
          <label>Email</label>
          <input name="email" ng-model="email" required md-maxlength="25" minlength="10">
          <div ng-messages="userForm.email.$error" ng-show="userForm.email.$dirty">
            <div ng-message="required"></div>
          </div>
        </md-input-container>
        <br>
        <md-input-container>
          <label>Password</label>
          <input type="password" name="password" ng-model="password" required md-maxlength="25" minlength="8">
          <div ng-messages="userForm.password.$error" ng-show="userForm.password.$dirty">
            <div ng-message="required"></div>
          </div>
        </md-input-container>
        <br>
        <center>
          <md-button ng-disabled="!userForm.$valid" class="md-primary md-raised login_button" type="submit" ng-click="home()">Login</md-button>
        </center>
      </form>
  </center>
</div>
