<section layout="row">
  <md-sidenav style="margin-top:4.0em;width:200px;position: fixed;z-index: 1;" class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
    <md-content flex layout-padding>
      <div flex="100" layout-align="center" layout="column">
        <fieldset class="standard">
          <legend>Manufacturer </legend>
          <div ng-repeat="x in jsonRecord  | unique:'specs.manufacturer' | orderBy: 'specs.manufacturer'">
            <md-checkbox ng-click='toggle("manufacturer",x.specs.manufacturer)' aria-label="Manufacturer">
            </md-checkbox>
            {{ x.specs.manufacturer }}
          </div>
        </fieldset>
        <div layout-padding></div>
        <fieldset class="standard">
          <legend>Storage </legend>
          <div ng-repeat="x in jsonRecord| unique:'specs.storage'|orderBy: 'specs.storage'">
            <md-checkbox ng-click='toggle("storage",x.specs.storage)' aria-label="Storage">
              {{ x.specs.storage }}
            </md-checkbox>

          </div>
        </fieldset>
        <div layout-padding></div>
        <fieldset class="standard">
          <legend>OS </legend>
          <div ng-repeat="x in jsonRecord | unique :'specs.os' | orderBy : 'specs.os'">
            <!-- <md-checkbox md-no-ink ng-model="hasInk1" aria-label="No Ink Effects"> -->
            <md-checkbox ng-click='toggle("os",x.specs.os)'  aria-label="OS">
              {{ x.specs.os }}
            </md-checkbox>

          </div>
        </fieldset>
        <div layout-padding></div>
        <fieldset class="standard">
          <legend>Camera </legend>
          <div ng-repeat="x in jsonRecord | unique:'specs.camera' | orderBy:'specs.camera'">
            <md-checkbox ng-click='toggle("camera",x.specs.camera)'  aria-label="Camera">
              {{ x.specs.camera }}
            </md-checkbox>
          </div>
        </fieldset>
      </div>
  </md-sidenav>


</section>
