<br><br> <br>
      <div layout="row" id="dashboard" style="-webkit-transition:.5s;"  layout-xs="column" layout-wrap md-theme=" {{dark-blue}}">
        <div flex-gt-md="33" flex-sm='100' ng-repeat="x in values=(jsonRecord)">
          <md-card>
            <md-card-header>
              <md-card-avatar>
                <img class="md-user-avatar" ng-src="{{x.team_img_url }}">
              </md-card-avatar>
              <md-card-header-text>
                <span class="md-title"><b>{{ x.team_name}}</b></span>
              </md-card-header-text>
            </md-card-header>
            <img ng-src="{{x.team_img_url}}" class="md-card-image" alt="image caption">

            <md-card-title>
              <md-card-title-text>
                <span>Manufacturer : {{ x.team_coach}}</span>
                <span>Storage:  {{ x.team_captain }}Gb</span>
                <span>OS:  {{x.team_home_venue}}</span>
                <span>Camera : {{ x.team_owner }}Mp</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="center center">
              <md-button class="md-raised md-primary"  ng-click='showDialog($event,x)'>Buy Now</md-button>
              <md-button class="md-raised md-primary"  ng-click="go('/21321')">View</md-button>

            </md-card-actions>
          </md-card>
        </div>
      </div>
